.ml-sm-auto {
    margin-left: 60px !important;
    max-width: none !important;
    flex: unset;
}

.tam {
    height: 75px !important;
}

.sidebar-left {
    height: 100%;
    position: fixed;
    width: 65px;
}

.mdl-js-button {
    margin-top: 10px !important;
}

.dropright:hover > .dropdown-menu {
    display: block;
    margin: -.5px;
    padding-left: -1px;
    border-left: 0;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
}

.mdl-menu__container {
    margin-right: 40px;
}

.dist {
    padding-left: 8px;
}

.mdl-badge.mdl-badge--overlap:after {
    top: -3px;
    left: 60px;
}

.demo-card-square.mdl-card {
    width: 250px;
    min-height: 130px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('../../Resources/avatar-01.jpg') bottom right 15% no-repeat #46B6AC;
}

.flexbox {
    align-items: center;
    display: flex;
    background: #fff;
}

.navbar-dark .navbar-nav .nav-link.disabled:hover {
    color: white;
}

.dropdown-menu.show {
    margin: -.5px;
    padding-left: -1px;
}

.p-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    padding-right: 14px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 4px;
}

.dropright > .nav-link {
    width: 65px;
}

.dropdown-divider {
    margin: unset;
}

.bg-dark {
    background: #132228 !important;
}

.nav-item {
    border-style: solid;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-width: 1px;
    border-color: #808080;
    width: 65px;
}

ion-icon {
    font-size: 26px;
}

.navbar-nav {
    display: block !important;
}

.dropdown-item {
    height: 48px;
}

.main-content {
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    display: block !important;
}

nav {
    z-index: 100000;
}

#card1 {
    position: absolute;
    top: 32%;
    left: 77.5%;
}

canvas {
    user-select: none;
}

/*body {
    background-image: url('../../Resources/logo_scrolls.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 65%;
}*/