<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="Scrolls, Livraria, Livros, Mangas, Canecas, Chaveiros" />
    <meta name="description" content="" />
    <meta name="author" content="Puzzle - Front-end: Mateus Oliveira; Back-end: Lucas Claro e Samuel Hiroyuki "/>

    <link href="~/img/logo_scrolls_ico.ico" rel="shortcut icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/MaterialDesignLite/material.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/responsivo.css" rel="stylesheet" media="screen and (max-width: 768px)" />
    <link href="~/Content/responsivo2.css" rel="stylesheet" media="screen and (max-width: 425px)" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />

    <title>Scrolls</title>

</head>

<body>

    <header class="container-fluid d-none d-lg-block">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-muted">Banner</h6>
            </div>
        </div>
    </header><!-- Cabeçalho/Banner -->

    <div class="d-none d-lg-block">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between">

            <a class="navbar-brand" href="#"><img src="~/img/logo_scrolls.png" class="img-fluid w-25" alt="Logo Scrolls" /></a>

            <div class="col-lg-6">
                <form>
                    <div class="input-group">
                        <div><input type="search" class="rounded-left form-control" size="50" placeholder="Pesquisar" aria-label="Pesquisa de produtos"></div>
                        <select class="form-control c-select">
                            <option selected>Todas as Categorias</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <button class="btn btn-search" type="submit" id="bot"><i class="icon ion-md-search"></i></button>
                    </div>
                </form><!-- Pesquisa -->
                <div class="navbar navbar-expand-lg justify-content-center">

                    <a href="#" class="nav-link">Livros</a><span class="barracagada">|</span>
                    <a href="#" class="nav-link">Chaveiros</a><span class="barracagada">|</span>
                    <a href="#" class="nav-link">Mangás</a><span class="barracagada">|</span>
                    <a href="#" class="nav-link">Acessórios</a>

                </div>
            </div>

            <div class="d-inline-flex">

                <div class="carrinho">
                    <a href="#" id="essenceCartBtn"><span class="icon ion-md-cart mdl-badge mdl-badge--overlap" data-badge="1"></span></a>
                </div> <!-- Carrinho -->

                <button class="btn log d-flex justify-content-center text-justify">
                    <img src="~/img/avatar.png" class="avatar" />
                    <a class="nav-link log" href="#">
                        <p class="removem">Entrar |</p>
                        <p class="removem"> Inscrever-se</p>
                    </a>
                </button><!-- Botão Cadastro -->

            </div>

        </nav>

    </div><!-- Navbar Desktop -->

    <div class="d-lg-none d-md-block">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between">

            <div class="d-flex justify-content-start">
                <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><i class="icon ion-md-menu"></i></button>
                <a class="navbar-brand" href="#">Scroll</a>
            </div><!-- sanduiche e logo -->

            <div class="carrinho">
                <a class="" href="#" id="essenceCartBtn"><span class="icon ion-md-cart mdl-badge mdl-badge--overlap" data-badge="1"></span></a>
            </div> <!-- Carrinho -->

        </nav><!-- navbar principal -->

        <div class="navbar-inverse collapse navbar-collapse" id="navbarTogglerDemo01">
            <button class="btn log d-flex justify-content-center text-justify">
                <img src="~/img/avatar.png"  class="avatar" /><a class="nav-link" href="#"><p class="removem">Entrar |</p><p class="removem"> Inscrever-se</p></a>
            </button><!-- Botão Cadastro -->
            <a href="#" class="nav-link">Livros</a>
            <a href="#" class="nav-link">Chaveiros</a>
            <a href="#" class="nav-link">Mangás</a>
            <a href="#" class="nav-link">Acessórios</a>
        </div><!-- sanduiche -->

        <nav class="navbar navbar-expand-md searchbar">
            <form class="input-group">
                <input type="text" class="form-control rounded-left" placeholder="Pesquisar">
                <button class="btn btn-search" type="submit"><i class="icon ion-md-search"></i></button>
            </form>
        </nav><!-- navbar pesuisa -->

    </div><!-- Navbar Mobile -->

    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a class="" href="#" id="rightSideCart"><span class="icon ion-md-cart mdl-badge mdl-badge--overlap" data-badge="1"></span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">

                <!-- Single Cart Item -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="~/img/product-img/product-1.png" class="img-fluid py-3" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Sumario</h2>
                <ul class="summary-table">
                    <li><span>SUBTOTAL:</span> <span>$274.00</span></li>
                    <li><span>FRETE:</span> <span>Free</span></li>
                    <li></li>
                    <li><span>TOTAL:</span> <span>$232.00</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="#" class="btn essence-btn">Verificar Carrinho</a>
                </div>
            </div>

        </div>
    </div><!-- Carrinho boladão -->

    <main class="container-fluid p-0">
        @RenderBody()
    </main><!-- Corpo -->

    <footer class="container-fluid">
        <div class="row justify-content-lg-center justify-content-md-between">

            <div class="suporte col-md-3">
                <h5>Central de Suporte</h5>
                <p>contatopuzzlesolutions@gmail.com</p>
                <p>(11) 3834-4111</p>
            </div><!-- Area de Suporte -->

            <div class="contato col-md-3">
                <h5>Atendimento ao Cliente</h5>
                <p>contatopuzzlesolutions@gmail.com</p>
                <p>(11) 3834-4111</p>
            </div><!-- Area de Contato -->

            <div class="publicidade col-md-3">
                <h5>Redes Sociais</h5>
                <ul class="social d-flex">
                    <li><a href="http://facebook.com/"><i class="icon ion-logo-facebook"></i></a></li>
                    <li><a href="http://twitter.com/"><i class="icon ion-logo-twitter"></i></a></li>
                    <li><a href="http://http://instagram.com/"><i class="icon ion-logo-instagram"></i></a></li>
                </ul>
            </div><!-- Area de Publicidade -->

        </div><!-- Linha do Rodapé -->
    </footer><!-- Rodapé -->


    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/Script.js"></script>

</body>
</html>
