<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Banner</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Source+Code+Pro:300,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../assets/css/bootstrap.css">
<link rel="stylesheet" href="../assets/css/jquery.bonsai.css">
<link rel="stylesheet" href="../assets/css/main.css">
<link rel="stylesheet" href="../assets/icon-font/icons.css">
<script type="text/javascript" src="../assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.js"></script>
<script type="text/javascript" src="../assets/js/jquery.bonsai.js"></script>

  </head>
  <body>
    <div>

      <!-- Name Title -->

      <h1>Banner</h1>

      <!-- Type and Stereotype -->

      <section style="margin-top: .5em;">
        <span class="alert alert-info">
          <span class="node-icon staruml-icon icon-ERDEntity"></span>
          ERDEntity
        </span>
        
      </section>

      <!-- Path -->

      <section style="margin-top: 10px">
        
        
        
          
          <span class="label label-info"><a href='cf9c8b720f3815adeccaf3ef6e48c6c4.html'><span class='node-icon staruml-icon icon-Project'></span>DiagramasScroll</a></span>
        
          <span>::</span>
          <span class="label label-info"><a href='304364ca7598f91a0737fc3a19107521.html'><span class='node-icon staruml-icon icon-ERDDataModel'></span>Modelos de Dados</a></span>
        
          <span>::</span>
          <span class="label label-info"><a href='15e297020adbe76c2ae6b3b93c43f525.html'><span class='node-icon staruml-icon icon-ERDEntity'></span>Banner</a></span>
        
      </section>

      <!-- Diagram -->

      

      <!-- Description -->

      
      <section>
        <h3>Description</h3>
        <div>
          
            <span class="label label-info">none</span>
          
        </div>
      </section>
      

      <!-- Specification -->

      

      <!-- Directed Relationship -->

      

      <!-- Undirected Relationship -->

      

      <!-- Classifier -->

      

      <!-- Interface -->

      

      <!-- Component -->

      

      <!-- Node -->

      

      <!-- Actor -->

      

      <!-- Use Case -->

      

      <!-- Template Parameters -->

      

      <!-- Literals -->

      

      <!-- Attributes -->

      

      <!-- Operations -->

      

      <!-- Receptions -->

      

      <!-- Extension Points -->

      

      <!-- Parameters -->

      

      <!-- Diagrams -->

      
      

      <!-- Behavior -->

      

      <!-- Action -->

      

      <!-- Interaction -->

      

      <!-- CombinedFragment -->

      

      <!-- Activity -->

      

      <!-- State Machine -->

      

      <!-- State Machine -->

      

      <!-- State -->

      

      <!-- Vertex -->

      

      <!-- Transition -->

      

      <!-- Data Model (ERD) -->

      

      <!-- Columns (ERD) -->

      
      <section>
        <h3>Columns</h3>
        
        <table class="table table-striped table-bordered">
          <tr>
            <th width="20%">Name</th>
            <th width="20%">Type</th>
            <th width="10%">Primary Key</th>
            <th width="10%">Foreign Key</th>
            <th width="20%">Reference To</th>
            <th width="10%">Nullable</th>
            <th width="10%">Unique</th>
          </tr>
          
          <tr>
            <td><a href="113a7f38a0d8c261cda00f6ab028616e.html">idBanner</a></td>
            <td>INTEGER</td>
            <td><span class='label label-info'>true</span></td>
            <td><span class='label label-info'>false</span></td>
            <td>
              
              <span class='label label-info'>null</span>
            </td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
          </tr>
          
          <tr>
            <td><a href="45ce1c871b29422a21092023637406ca.html">Ativo</a></td>
            <td>BOOLEAN</td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
            <td>
              
              <span class='label label-info'>null</span>
            </td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
          </tr>
          
          <tr>
            <td><a href="b86f9c68c73bb354212b9c6a5d337e6a.html">DataInicio</a></td>
            <td>DATE</td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
            <td>
              
              <span class='label label-info'>null</span>
            </td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
          </tr>
          
          <tr>
            <td><a href="72c15de41cabd7f0246c5a3b9a95b94f.html">DataFim</a></td>
            <td>DATE</td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
            <td>
              
              <span class='label label-info'>null</span>
            </td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
          </tr>
          
          <tr>
            <td><a href="4409bd6fd0578487c7ae79f30f3bcdec.html">IdEndereco</a></td>
            <td>INTEGER</td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>true</span></td>
            <td>
              
              <span class='label label-info'>null</span>
            </td>
            <td><span class='label label-info'>false</span></td>
            <td><span class='label label-info'>false</span></td>
          </tr>
          
        </table>                
      </section>
      

      <!-- Related Entities (ERD) -->

      
      <section>
        <h3>Related Entities</h3>
        
        <table class="table table-striped table-bordered">
          <tr>
            <th width="25%">Entity</th>
            <th width="25%">Cardinality</th>
            <th width="25%">Reference Name</th>
            <th width="25%">Relationship</th>
          </tr>
          
          
          <tr>
            <td><a href='69d121b88523c4fac0f6bd580fb03027.html'><span class='node-icon staruml-icon icon-ERDEntity'></span>Endereco</a></td>
            <td>1</td>
            <td></td>
            <td><a href='7e9dedb20d7e33ad660edc5bac49b76e.html'><span class='node-icon staruml-icon icon-ERDRelationship'></span>Está (Endereco—Banner)</a></td>
          </tr>
          
        </table>                
      </section>
      

      <!-- Data Flows (DFD) -->

      

      <!-- Flows (Flowchart) -->

      

      <!-- Properties -->

      <section>
        <h3>Properties</h3>
        
        <table class="table table-striped table-bordered">
    <tr>
        <th width="50%">Name</th>
        <th width="50%">Value</th>
    </tr>
    
    
    
    
    
    
    
    <tr>
        <td>name</td>
        <td>Banner</td>
    </tr>
    
    
    
    
    
    
    
    
    
    
    
</table>                

      </section>

      <!-- Tags -->

      

      <!-- Constraints, Dependencies, Dependants -->

      

      <!-- Relationships -->

      
      
<section class="element-list">
    <h3>Relationships</h3>
    <ul class="nav nav-list">
        
        <li><a href='7e9dedb20d7e33ad660edc5bac49b76e.html'><span class='node-icon staruml-icon icon-ERDRelationship'></span>Está (Endereco—Banner)</a></li>
        
    </ul>
</section>



      <!-- Owned Elements -->

      
      


    </div>
  </body>
</html>
