
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid px-5" style="background-color: #E5E9F2;">
  <div class="row justify-content-between">
    <div class="col-6 ml-auto px-5">
      <img src="~/img/app-area.png" class="img-fluid w-75" alt="">
    </div>

    <div class="col-5 mr-auto pt-5 pb-5">
      <div class="mt-5 mb-5">
        <h2>Mobile App</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh vitae erat efficitur faucibus. Duis tincidunt, ex in mattis viverra.</p>
      </div>
      
      <div class="d-inline-flex mt-5 mb-5">
        <div class="download d-inline-flex mr-5">
          <a href="#" class="mr-3"><img src="~/img/appmaca.png" class="w-100 rounded" alt=""></a>
          <a href="#"><img src="~/img/appgoogle.png" class="w-100 rounded" alt=""></a>
        </div>

        <div class="">
          <img src="~/img/qrcode.png" class="w-75 mr-auto" alt="">
        </div>
      </div><!-- /div image -->
    </div><!-- /col-5 -->
  </div><!-- /row -->
</section><!-- App Area -->