
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid">
    
    <div class="col-4">

    </div><!-- Botão das categorias -->

    <div class="col-8"> 

    </div><!-- Carrosel -->

</section>

<section class="container-fluid novidades">
    
    <div class="col-12 justify-content-center">
        <h1>Novidades</h1>
        <div class="col-10">
            <div class="col-4">
                <div class="img-container1">
                    <img src="#" alt="Alternate Text" />
                    <br />
                    <img src="#" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-6">
                <div class="img-container2">
                    <img src="#" alt="Alternate Text" />
                    <img src="#" alt="Alternate Text" />
                </div>
                <br />
                <div class="img-container3">
                    <img src="#" alt="Alternate Text" />
                </div>
            </div>
        </div>

        <div class="col-8">
            <img src="#" alt="Alternate Text" />
        </div>

    </div>

</section>

