
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pincipal d-inline-flex">

    <div class="col-lg-3 col-sm-3 col-3 p-0 h-100">
        <div class="list-group">
            <a class="list-group-item list-group-item-action disabled" href="#">Selecionar Categoria<i class=" ml-auto ion-ios-arrow-down"></i></a>
            <a class="list-group-item list-group-item-action" href="#">Opção 1</a>
            <a class="list-group-item list-group-item-action" href="#">Opção 2</a>
            <a class="list-group-item list-group-item-action" href="#">Opção 3</a>
            <a class="list-group-item list-group-item-action" href="#">Opção 4</a>
            <a class="list-group-item list-group-item-action" href="#">Opção 5</a>
            <a class="list-group-item list-group-item-action" href="#">Opção 6</a>
            <a class="list-group-item list-group-item-action" href="#">Opção 7</a>
        </div>
    </div><!-- Botão das categorias -->

    <div class="col-lg-9 col-sm-9 col-9 p-0 h-100">
        <div id="CarouselPrinc" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="~/img/carrossel-img/img1.jpg" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="~/img/carrossel-img/img2.jpg" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="~/img/carrossel-img/img3.jpg" alt="Terceiro Slide">
                </div>
            </div>

            <a class="carousel-control-prev" href="#CarouselPrinc" role="button" data-slide="prev">
                <i class="icon ion-ios-arrow-back" aria-hidden="true"></i>
                <span class="sr-only">Anterior</span>
            </a>
            
            <a class="carousel-control-next" href="#CarouselPrinc" role="button" data-slide="next">
                <i class="icon ion-ios-arrow-forward" aria-hidden="true"></i>
                <span class="sr-only">Próximo</span>
            </a>

        </div>
    </div><!-- Carrosel -->

</section><!-- Painel inicial -->

<section class="container-fluid novidades py-3" style="background-color:#343F4B;">
    <div class="row justify-content-center">
        <div class="col-10">
            <h4 class="text-white">Novidades</h4>
        </div>
    </div>

    <div class="row justify-content-center my-3">
        <div class="container">
          <div class="row p-3">
            
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
              <div class="col-md-12 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                  <img src="~/img/338x370.png" class="img-ht img-fluid rounded">
                </div>
              </div>

              <div class="col-md-12 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                  <img src="~/img/338x370.png" class="img-ht img-fluid rounded">
                </div>
              </div>
              </div>

              <div class="col-md-8 col-sm-12 co-xs-12 gal-item">

              <div class="row">
                <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                  <div class="box">
                    <img src="~/img/361x370.png" class="img-ht img-fluid rounded">
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                  <div class="box">
                    <img src="~/img/361x370.png" class="img-ht img-fluid rounded">
                  </div>
                </div>
                  </div>

               <div class="row">
                <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
                  <div class="box">
                     <img src="~/img/739x370.png" class="img-ht img-fluid rounded">
                  </div>
                </div>
              </div>
            
                
              </div>                 

          </div>
          <br/>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-10 text-center border" style="background-color:#0f0f0f;">
            <h4 class="text-white">Banner</h4>
        </div>
    </div>


</section><!-- Novidades -->

<section class="container my-2">   
  <div class="row justify-content-center">
    <div class="rounded col-10 text-center " style="background-color: #0D7694;">
      <h3 class="text-white m-1">Lançamentos e Reposições</h3>
    </div>
  </div><!-- Titulo -->
      
  <div class="container my-2">
    <div class="row justify-content-center">          
      <div class="col-10">
          <div class="owl-carousel owl-theme">
              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-1.png" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-2.jpg" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-3.jpg" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-4.jpg" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-1.png" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-2.jpg" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-3.jpg" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

              <div class="item py-3">
                  <div class="card-prod">
                      <div class="card-prod-img">
                          <form action="/" method="post">
                              <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                          </form>
                          <img src="~/img/product-img/product-4.jpg" class="img-fluid " alt="prod-img">
                      </div>
                      <a href="#">
                          <div class="card-prod-body text-center rounded-bottom">
                              <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                              <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                          </div>
                      </a>
                  </div><!-- Card Produto -->
              </div><!-- Item Carousel -->

          </div><!-- Carousel -->
      </div>
    </div><!-- Linha carousel -->
  </div>
</section><!--Lançamentos/Reposições-->

<div class="container my-5">
  <div class="row justify-content-center ">
    <div class="col-10 text-center border border-dark">
      <h5>Banner</h5>
    </div>
  </div>
</div><!--Banner-->

<section class="container my-2">
    <div class="row justify-content-center">
        <div class="rounded col-10 text-center " style="background-color: #0D7694;">
          <h3 class="text-white m-1">Mais Avaliados</h3>
        </div>
    </div>
      
    <div class="container my-2">
        <div class="row justify-content-center">          
            <div class="col-10">
                <div class="owl-carousel owl-theme">
                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-1.png" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-2.jpg" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-3.jpg" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-4.jpg" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-1.png" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-2.jpg" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-3.jpg" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                    <div class="item py-3">
                        <div class="card-prod">
                            <div class="card-prod-img">
                                <form action="/" method="post">
                                    <button type="submit" class="p-1"><i class="icon ion-md-cart"></i></button>
                                </form>
                                <img src="~/img/product-img/product-4.jpg" class="img-fluid " alt="prod-img">
                            </div>
                            <a href="#">
                                <div class="card-prod-body text-center rounded-bottom">
                                    <h5 class="m-1">Hary Pota</h5> <!-- Titulo do Livro -->
                                    <p class="m-1">Carlos Marcos</p> <!-- Autor -->
                                </div>
                            </a>
                        </div><!-- Card Produto -->
                    </div><!-- Item Carousel -->

                </div><!-- Carousel -->
            </div>
        </div><!-- Linha carousel -->
    </div>
</section><!-- Mais Avaliados -->

<section class="container-fluid px-5" style="background-color: #E5E9F2;">
  <div class="row justify-content-between">
    <div class="col-6 ml-auto px-5">
      <img src="~/img/app-area.png" class="img-fluid w-75" alt="">
    </div>

    <div class="col-5 mr-auto pt-5 pb-5">
      <div class="mt-5 mb-5">
        <h2>Mobile App</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec nibh vitae erat efficitur faucibus. Duis tincidunt, ex in mattis viverra.</p>
      </div>
      
      <div class="d-inline-flex mt-5 mb-5">
        <div class="download d-inline-flex mr-5">
          <a href="#" class="mr-3"><img src="~/img/appmaca.png" class="w-100 rounded" alt=""></a>
          <a href="#"><img src="~/img/appgoogle.png" class="w-100 rounded" alt=""></a>
        </div>

        <div class="">
          <img src="~/img/qrcode.png" class="w-50 mr-auto" alt="">
        </div>
      </div>
    </div>
  </div>
</section><!-- App Area -->