/*=========================================================
				    GENERAL
===========================================================*/

/*----------------------------*\
		   Typography
\*----------------------------*/

body {
	font-family: 'Hind', sans-serif;
	color: #4A4E5A;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: #30323A;
	margin: 0 0 10px;
	font-weight: 700;
}

a {
	color: #30323A;
	-webkit-transition: 0.3s color;
	 transition: 0.3s color;
}
			
a:hover, a:focus{
	color: #30323A;
	text-decoration: none;
	outline: none;
}


.white-color {
	 color: #FFF;
}

.font-weak {
	font-weight: 400;
}

strong {
	color: #30323A;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #DADADA;
}

.card-body p{
	margin: 0;
}

#step2 > div.card + div.card{
	margin-top: 1rem;
}

/*----------------------------*\
		   Buttons
\*----------------------------*/

.main-btn, .primary-btn, .secundary-btn {
	display: inline-block;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.icon-btn.main-btn, .icon-btn.primary-btn, .icon-btn.secundary-btn {
	width: 40px;
	height: 40px;
	font-size: 25px;
	line-height: 10px;
	padding: 0px;
	border: none;
}

.main-btn {
	color: #30323A;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
	box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
}

.main-btn:hover, .main-btn:focus {
	color: #30323A;
}

.btn-new{
	background-color: transparent;
	border: 5px dashed;
	border-color: rgba(31, 31, 255, .3);
	color: #30323A;
	font-size: 50px;
	line-height: 3;
}

.btn-new:hover{
	background-color: rgba(73, 73, 252, 0.2)
}
			
.primary-btn {
	color: #FFF;
	background-color: #F8C141;
}

.primary-btn:hover, .primary-btn:focus {
	color: #FFF;
	background-color: #30323A;
}

.secundary-btn {
	color: #FFF;
	background-color: #0D7694 ;
}

.secundary-btn:hover, .secundary-btn:focus {
	color: #FFF;
	background-color: #30323A;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

.input {
  width: 100%;
  height: 40px;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.input:focus {
	-webkit-box-shadow: 0px 0px 0px 1px #0D7694 inset, 0px 0px 0px 0px #0D7694;
	box-shadow: 0px 0px 0px 1px #0D7694 inset, 0px 0px 0px 0px #0D7694;
}

textarea.input {
	padding: 15px;
}

.input-checkbox .caption {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.3s max-height;
	transition: 0.3s max-height;
}

.input-checkbox>label {
	 color: #30323A;
}
/*----------------------------*\
		Lists
\*----------------------------*/

.list-links .list-links-title {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
}

.list-links li>a {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: 2px 0px;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.list-links li>a:before {
	content: "\f3d1";
	position: absolute;
	left: 0px;
	font-family: Ionicons;
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
	color: #30323A;
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
}

.list-links li>a:hover:before, .list-links li>a:focus:before, .list-links li.active>a:before {
	opacity: 1;
	 visibility: visible;
}

/*----------------------------*\
		 Sections
\*----------------------------*/

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-grey {
	background: #F6F7F8;
}

.section-title {
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #DADADA;
}

.section-title .title {
	display: inline-block;
	text-transform: uppercase;
}

.section-title:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1.5px;
	height: 3px;
	width: 60px;
	background-color: #F8C141;
}

/*=========================================================
		             HEADER
===========================================================*/

#header {
	padding-top: 15px;
	padding-bottom: 15px;
}
/*----------------------------*\
		 Top header
\*----------------------------*/

#top-header {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DADADA;
}

.header-top-links>li {
	display: inline-block;
}

.header-top-links>li+li {
	margin-left: 15px;
}

.header-top-links>li>a {
	cursor: pointer;
	text-transform: uppercase;
}

/*----------------------------*\
		   logo
\*----------------------------*/

.header-logo {
	display: inline-block;
	margin-right: 15px;
}

/*----------------------------*\
	    Search header
\*----------------------------*/

.header-search {
	display: inline-block;
	padding: 15px 0px;
	max-width: 800px;
}

.header-search>form {
	position: relative;
}

.header-search>form>button {
	font-size: 13px;
	background-color: #FFF;
	border: 1px solid;
	border-color: rgb(206, 212, 218);
	border-radius: 0 .25rem 0.25rem 0;
}

/*----------------------------*\
		Account header
\*----------------------------*/

.header-btns>li {
	display: inline-block;
	vertical-align: top;
	padding: 15px 0px;
}

.header-btns>li+li {
	margin-left: 15px;
}

.header-btns>li .header-btns-img {
	position: relative;
	float: left;
	font-size: 30px;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
			
.header-btns-img img{
	width: 40px;
	height: auto;
	line-height: 30px;
}

.header-btns>li .header-btns-icon {
	position: relative;
	float: left;
	font-size: 25px;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	color: #30323A;
	background-color: #FFF;
	border: 1px solid #DADADA;
}

.header-account.dropdown .dropdown-menu {
	margin-top: 10%;
	padding: 0.5rem;
	border-top: 1px solid #F8C141;
}

.header-account.dropdown .dropdown-menu>li>a>i {
	margin-right:  15px;
	color: #30323A;
}

.header-account.dropdown .dropdown-menu>li {
	margin:0.25rem;
}

.header-account a:hover{
	color: #F8C141;
}

.header-account.dropdown .dropdown-menu>li:hover>a>i{
	color:#F8C141;
}

/*----------------------------*\
		Cart header
\*----------------------------*/

.header-cart .header-btns-icon .qty {
	position: absolute;
	right: -9px;
	top: -9px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	background: #FFC82C;
	color: #000;
	border-radius: 50%;
}

.header-cart a:hover{
	color: #30323A;
}

/*=========================================================
		                     CART AREA
===========================================================*/

.cart-bg-overlay.cart-bg-overlay-on {
	-webkit-transition-duration: 1000ms;
	transition-duration: 1000ms;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1050; }

/* Cart Area CSS */
.right-side-cart-area {
	position: fixed;
	width: 670px;
	height: 100%;
	top: 0;
	right: -800px;
	background-color: #ffffff;
	z-index: 1100;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms; 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.right-side-cart-area {
		width: 500px;
		right: -600px; 
	} 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area {
		 width: 270px;
		right: -400px; 
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area {
		width: 400px;
		right: -550px; 
	} 
}

.right-side-cart-area.cart-on {
	right: 0; 
}
			  
.right-side-cart-area .cart-button a {
	position: absolute;
	top: 0;
	right: 100%;
	z-index: 100;
	width: 90px;
	display: block;
	font-size: 25px;
	text-align: center;
	border-left: 1px solid #ebebeb;
	height: 85px;
	line-height: 80px;
	background-color: #f5f7f9; 
}
			    
@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-button a {
		width: 50px;
		height: 50px;
		line-height: 50px; 
	} 
}

.right-side-cart-area .cart-button a img {
	max-width: 20px; 
}

.right-side-cart-area .cart-button a span {
	font-family: "Ubuntu", sans-serif;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: -15px;
	color: #000;
}

.right-side-cart-area .cart-content {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%; 
}

.right-side-cart-area .cart-content .cart-list {
	position: relative;
	z-index: 10;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 190px;
	flex: 0 0 190px;
	width: 190px; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list {
		-webkit-box-flex: 0;
		 -ms-flex: 0 0 100px;
		flex: 0 0 100px;
		 width: 100px; 
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 150px;
		flex: 0 0 150px;
		width: 150px; 
	} 
}
			      
.right-side-cart-area .cart-content .cart-list .single-cart-item {
	position: relative;
    z-index: 1;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image {
	position: relative;
	z-index: 1;
	display: block; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 50px 15px 15px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
	padding: 5px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
		padding: 30px 20px;
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .product-remove {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #ffffff;
	font-size: 12px;
	padding: 5px;
	background-color: transparent;
	border: none; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .product-remove {
	top: 5px;
	right: 5px; 
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .badge {
	display: block;
	font-weight: 600;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	margin-bottom: 5px;
	text-align: left;
	padding: 0; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc h6 {
	font-size: 12px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc h6 {
		margin-bottom: 10px;
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .size,
.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .color {
	display: block;
	font-weight: 600;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	margin-bottom: 5px;
	line-height: 1; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .price {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 30px;
	color: #ffffff; 
}
	
@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .price {
		margin-top: 10px;
		font-size: 12px; 
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item:hover .product-image .cart-item-desc {
	background-color: rgba(0, 0, 0, 0.8); 
}

.right-side-cart-area .cart-content .cart-amount-summary {
	padding: 100px 10%;
	position: relative;
	z-index: 10;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(100% - 190px);
	flex: 0 0 calc(100% - 190px);
	width: calc(100% - 190px);
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(100% - 100px);
		flex: 0 0 calc(100% - 100px);
		width: calc(100% - 100px);
		padding: 50px 15px;
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(100% - 150px);
		flex: 0 0 calc(100% - 150px);
		width: calc(100% - 150px);
		padding: 50px 30px; 
	}
}

.right-side-cart-area .cart-content .cart-amount-summary h2 {
	font-size: 30px;
	margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary h2 {
		font-size: 24px;
		margin-bottom: 30px;
	} 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary h2 {
		font-size: 30px;
		margin-bottom: 50px;
	}
}

.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
	margin-bottom: 20px;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	font-weight: 600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
		font-size: 12px;
		margin-bottom: 10px;
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
		font-size: 14px;
		margin-bottom: 15px;
	} 
}

.right-side-cart-area .cart-content .cart-amount-summary .summary-table li span:last-child {
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary .essence-btn {
		min-width: 140px;
		width: 140px;
		padding: 0 15px;
	}
}
/*=========================================================
	                 FOOTER
===========================================================*/
			
#footer {
	background-color: #0D7694;
}

.footer {
	margin: 15px 0px;
	color: #FFF;
}

.footer .footer-header {
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-logo .logo {
	display: inline-block;
}

.footer-logo .logo>img {
	width: 100%;
	max-height: 70px;
}

.footer-social>li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 6px;
	font-size: 25px;
	color: #FFF;
}
			
.footer li>a{
	color: #FFF;
}

.footer li>a:hover{
	color: #F8C141;
}

.footer-social>li>a{
	color: #FFF;
}

.footer-social>li>a:hover {
	color: #F8C141;			  
}

.footer-social>li:last-child {
	margin-right: 0px;
}

.footer-copyright {
	text-transform: uppercase;
	font-size: 18px;
}

.footer-copyright a{
	color: #FFF;
}

.footer-copyright a:hover{
	color: #F8C141;
}

/*=========================================================
	                NAVIGATION
===========================================================*/

#navigation {
	background-color: #30323A;
}

#navigation .container {
	position: relative;
}

/*----------------------------*\
		Category nav
\*----------------------------*/

.category-nav {
	float: left;
	width: 270px;
}

.category-nav .category-header {
	padding: 15px;
	display: block;
	text-transform: uppercase;
	background: #F8C141;
	color: #FFF;
	font-weight: 700;
}

.category-nav .category-header>i {
	float: right;
	line-height: 20px;
}

.category-nav .category-list {
	position: absolute;
	width: 270px;
	background-color: #FFF;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	border-bottom: 1px solid #DADADA;
	z-index: 50;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.category-nav.show-on-click .category-list {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0px, 15px);
	-ms-transform: translate(0px, 15px);
	transform: translate(0px, 15px);
}

.category-nav.show-on-click .category-list.open {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.category-nav .category-list>li+li {
	border-top: 1px solid #DADADA;
}

.category-nav .category-list>li.dropdown>.dropdown-toggle>i {
	float: right;
	line-height: 20px;
}

.category-nav .category-list>li>a {
	display: block;
	padding: 15px;
	text-transform: uppercase;
}

.category-nav .category-list>li>a:hover, .category-nav .category-list>li>a:focus, .category-nav .category-list>li.dropdown.open>a {
	color: #F8C141;
}

/*----------------------------*\
			Menu nav
\*----------------------------*/

.menu-nav .menu-header {
	display: none;
	padding: 15px;
	text-transform: uppercase;
	background: #30323A;
	color: #FFF;
	font-weight: 700;
}

.menu-nav .menu-header>i {
	float: right;
	line-height: 20px;
}

.menu-nav .menu-list>li {
	display: inline-block;
}

.menu-nav .menu-list>li>a {
	display: block;
	padding: 13px;
	color: #FFF;
	text-transform: uppercase;
}

.menu-nav .menu-list>li>a:hover, .menu-nav .menu-list>li>a:focus, .menu-nav .menu-list>li.dropdown.open>a {
	color: #F8C141;
}

/*----------------------------*\
		   Dropdowns
\*----------------------------*/

/*-- Default Dropdown --*/

.dropdown.default-dropdown>.dropdown-menu {
	border-top: 2px solid #F8C141;
	padding: 15px;
	background: #FFF;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(15px);
	-ms-transform: translateX(-50%) translateY(15px);
	transform: translateX(-50%) translateY(15px);
}

.dropdown.default-dropdown.open>.custom-menu {
	-webkit-transform: translateX(-50%) translateY(0px);
	-ms-transform: translateX(-50%) translateY(0px);
	transform: translateX(-50%) translateY(0px);
}

.dropdown.default-dropdown>.custom-menu>li>a {
	display: block;
	padding: 10px 0px;
	text-transform: uppercase;
}


/*----------------------------*\
		Mobile nav
\*----------------------------*/

#header .nav-toggle {
	display: none;
}

@media only screen and (max-width: 991px) {
    #header .nav-toggle {
        display: inline-block;
    }

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 270px;
        width: 0%;
        overflow: hidden;
        background-color: #FFF;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        z-index: 990;
    }

    #responsive-nav.open {
        width: 100%;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }

    #responsive-nav .dropdown .custom-menu {
        display: none;
        position: static;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top: none;
        border-left: 2px solid #F8C141;
    }

    #responsive-nav .dropdown.open .custom-menu {
        display: block;
        min-width: auto;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .category-nav .category-list, .menu-nav .menu-list {
        display: none;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: calc(100vh - 100px);
    }

    .category-nav .category-list.open, .menu-nav .menu-list.open {
        display: block;
    }

    .menu-nav .menu-header, .category-nav .category-header {
        cursor: pointer;
    }

    .category-nav {
        float: none;
        width: 100%;
    }

    .category-nav .category-list {
        position: static;
    }

    .menu-nav .menu-header {
        display: block;
    }

    .menu-nav .menu-list {
        float: none;
        border-left: 1px solid #DADADA;
        border-right: 1px solid #DADADA;
        border-bottom: 1px solid #DADADA;
    }

    .menu-nav .menu-list > li {
        display: block;
    }

    .menu-nav .menu-list > li + li {
        border-top: 1px solid #DADADA;
    }

    .menu-nav .menu-list > li > a {
        color: #30323A;
    }

    #navigation.shadow:after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99;
    }
}

/*=========================================================
					BANNERS
===========================================================*/

.banner {
    display: block;
    position: relative;
	margin-top: 15px;
    margin-bottom: 15px;
}

.banner > img {
    width: 100%;
    height: 385px;
}

.banner.banner-1 .banner-caption {
    position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner.banner-2 .banner-caption {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

.banner h1 {
    font-size: 46px;
    text-transform: uppercase;
}

/*=========================================================
					HOME SLIDER
===========================================================*/

#home .home-wrap {
    margin-left: 270px;
}

#home-slick .banner {
    margin: 0px;
}

/*=========================================================
					11 -> SLICK
===========================================================*/

 /*----------------------------*\
		Arrows
\*----------------------------*/

.slick-prev, .slick-next {
    width: 40px;
   	height: 40px;
    background: #30323A;
    z-index: 22;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #F8C141;
}

.slick-next::before {
    font-family: "Ionicons";
    content: "\f3d1";
}

.slick-prev::before {
   	font-family: "Ionicons";
    content: "\f3cf";
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 15px;
}

.custom-nav .slick-prev, .custom-nav .slick-next {
    display: inline-block;
    position: static;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

/*----------------------------*\
			Dots
\*----------------------------*/

.slick-dots li, .slick-dots li button, .slick-dots li button:before {
    width: 10px;
    height: 10px;
}

.slick-dots li button:before {
    content: "";
    opacity: 1;
    background: #DADADA;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before {
    background-color: #F8C141;
}

.custom-dots .slick-dots {
    position: static;
    margin: 15px 0px;
}

/*=========================================================
	                     NEWS
===========================================================*/

.news a {
    display: block;
}

@media only screen and (min-width: 768px) {
    .news-left {
        padding-left: 0;
        position: relative;
    }

    .news-right {
        padding-right: 0;
        position: relative;
    }

    .news-left1 {
        padding-left: 0;
        position: relative;
    }

    .news-left2 {
        padding-left: 0;
        position: relative;
    }

    .news-right1 {
        padding-right: 0;
        position: relative;
    }

    .news-right2 {
        padding-right: 0;
        position: relative;
    }

    .news-top {
        margin-bottom: 1.5rem;
        display: flex;
    }

    .news-bottom {
        margin-bottom: 1.5rem;
        display: flex;
    }
}

@media only screen and (max-width: 767px) {
    .news img {
    	margin: 1.5rem auto;
        display: block;
    }
}

/*=========================================================
                    PRODUCT
===========================================================*/

.product .product-old-price {
    color: #F8C141;
    font-size: 70%;
}

.product .product-rating {
    font-size: 15px;
}

.product .product-rating > i {
    color: #FFB656;
}

.product .product-rating > i.empty {
    color: #DADADA;
}

.product .product-label > span {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
    color: #FFF;
    background-color: #30323A;
    z-index: 22;
}

.product .product-label > span:empty{
 display: none;
}

.product .product-label > span.sale {
    background-color: #F8C141;
}


/*----------------------------*\
	Single product
\*----------------------------*/

.product.product-single {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40vw;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover {
    -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.product.product-single .product-thumb {
    position: relative;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   margin-bottom: 15px;
    padding: 1.5rem;
}

.product.product-single .product-thumb > img {
    max-height: 100%;
    max-width: auto;
}

.product.product-single .product-thumb:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover .product-thumb:after {
    opacity: 0.7;
    visibility: visible;
}

.product.product-single .product-label {
    position: absolute;
    left: 0;
    top: 0;
}

.product.product-single .product-label > span {
    display: block;
}

.product.product-single .product-label > span:empty {
     display: none;
}

.product.product-single .product-countdown {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.product.product-single .product-body {
    padding: 1.5rem;
}
    
.product.product-single .product-body p, h {
    margin-bottom: 0.25rem;
}

.product.product-single .product-price {
    display: inline-block;
}

.product.product-single .product-rating {
    margin-top: 0.5rem;
    margin-left: auto;
}

.product.product-single .product-name {
    font-size: 16px;
}

.product.product-single .product-btns {
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product.product-single:hover .product-btns {
    opacity: 1;
    visibility: visible;
}

/*-- hot product --*/

.product.product-single.product-hot {
    border: 0.5px solid #F8C141;
}

.product.product-single.product-hot .product-btns {            
    opacity: 1;         
}

/*----------------------------*\
	Product slick
\*----------------------------*/
.product-slick .slick-slide{
    margin-right: 10px;
    margin-left: 10px;
}

/*=========================================================
                    PRODUCT PAGE
===========================================================*/

/*----------------------------*\
	Filter
\*----------------------------*/

.btn-filter, .btn-clear{
	color: #FFF;
	font-weight: bold;
	background-color:  #30323A;
}

.btn-filter i, .btn-clear i{
	font-size: 15px;
	line-height: 15px; 
}

/*----------------------------*\
	Product artifices
\*----------------------------*/

.product-page .product-old-price {
    color: #F8C141;
    font-size: 70%;
}

.product-page .product-rating {
    font-size: 15px;
}

.ma-filter .custom-control-label> .product-rating {
	font-size: 15px;
	display: inline-flex;
}

.product-page .product-rating > i, .ma-filter .custom-control-label> .product-rating > i {
    color: #FFB656;
}

.product-page .product-rating > i.empty, .ma-filter .custom-control-label > .product-rating > i.empty {
    color: #DADADA;
}

.product-page .product-label > span {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
    color: #FFF;
    background-color: #30323A;
    z-index: 22;
}

.product-page .product-label > span:empty{
	display: none;
}

.product-page .product-label > span.sale {
	background-color: #F8C141;
}



/*----------------------------*\
	Single product
\*----------------------------*/

.product-page.product-single {
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product-page.product-single:hover {
    -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

.product-page.product-single .product-thumb {
    position: relative;
    height: 20vw;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 1.5rem;
}

.product-page.product-single .product-thumb > img {
    max-height: 100%;
    max-width: auto;
}

.product-page.product-single .product-thumb:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product-page.product-single:hover .product-thumb:after {
    opacity: 0.7;
    visibility: visible;
}

.product-page.product-single .product-label {
    position: absolute;
    left: 0;
    top: 0;
}

.product-page.product-single .product-label > span {
    display: block;
}

.product-page.product-single .product-label > span:empty {
    display: none;
}

.product-page.product-single .product-countdown {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.product-page.product-single .product-body {
    padding: 1.5rem;
}

.product-page.product-single .product-body p, h {
    margin-bottom: 0.25rem;
}

.product-page.product-single .product-price {
    display: inline-block;
}

.product-page.product-single .product-rating {
    margin-top: 0.5rem;
    margin-left: auto;
}

.product-page.product-single .product-name {
    font-size: 16px;
}

.product-page.product-single .product-btns {
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product-page.product-single:hover .product-btns {
    opacity: 1;
    visibility: visible;
}

/*-- hot product --*/

.product-page.product-single.product-hot {
    border: 0.5px solid #F8C141;
}

.product-page.product-single.product-hot .product-btns {
    opacity: 1;
}

/*-- pagination --*/

.pagination .page-link , .pagination .page-item.disabled .page-link {
	background-color: #30323A;
}
	
.pagination .page-link{
	color: #FFF;
}

.pagination .page-item.disabled .page-link{
	color: #DADADA;
}

.pagination .page-item.active .page-link{
	background-color: #F8C141;
	border-color: #F8C141;
	color: #FFF;
}

/*=========================================================
        			PRODUCT DETAILS
===========================================================*/

.product-old-price {
  color: #F8C141;
  font-size: 70%;
}

del.product-old-price:empty {
	display: none;
}

.product-rating {
  display: inline-block;
}

.product-rating>i {
  color: #FFB656;
}

 .product-rating>i.empty {
  color: #DADADA;
}

.product-label>span {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-weight: 700;
  color: #FFF;
  background-color: #30323A;
  z-index: 22;
}

 .product-label>span.sale {
  background-color: #F8C141;
}

 .product-label>span:empty{
  display: none;
}

.product-view{
	height: 30vw;
	overflow: hidden;
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-view img{
	max-height: 100%;
}

.product-view img:hover{
	opacity: .5;
	transition:  0.8s all;
}

.owl-carousel .owl-item img{
	width: auto;
}

@media only screen and (width: 1024px){
	.product-view img{
		max-height: 100%;
	}
	.product-btns >form+form{
		margin-left:  1rem;
	}
}

@media only screen and (min-width: 576px){
	.product-btns >form+form{
		margin-left:  1rem;
	}
}

/*----------------------------*\
	Owl-dots
\*----------------------------*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #F8C141;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
	position: absolute;
	top: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #30323A;
	color: #FFF;
	text-align: center;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:focus{
	background-color: #F8C141;
}

.owl-carousel .owl-nav button.owl-prev{
	left: 0;
}

.owl-carousel .owl-nav button.owl-next{
	right: 0;
}

/*----------------------------*\
	Product details
\*----------------------------*/

.product.product-details .product-name {
  margin-top: 15px;
}

.product.product-details .product-rating {
  margin-right: 15px;
  margin-bottom: 15px;
}

.product.product-details .product-options {
  padding-top: 30px;
  margin-bottom: 15px;
  border-top: 1px solid #DADADA;
  margin-top: 15px;
}

.input-group-text{
	background-color: transparent;
	border: none;
}

/*----------------------------*\
	review form
\*----------------------------*/

.review-form textarea.input {
  height: 10vw;
  resize: none;
  overflow: hidden;
  overflow-y: scroll;
}

.review-form .input-rating .stars {
  display: inline-block;
  vertical-align: top;
}

.review-form .input-rating .stars input[type="radio"] {
  display: none;
}

.review-form .input-rating .stars>label {
  float: right;
  cursor: pointer;
  padding: 0px 3px;
  margin: 0px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.review-form .input-rating .stars>label:before {
  content: "\f384";
  font-family: Ionicons;
  font-style: normal;
  font-weight: normal;
  color: #DADADA;
  font-size: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
  content: "\f384";
  color: #FFB656;
}

.review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
  content: "\f384";
  color: #FFB656;
}

/*----------------------------*\
	take along
\*----------------------------*/
.product-takealong-takealong .product-old-price {
    color: #F8C141;
    font-size: 70%;
}

.product-takealong-takealong .product-rating {
    font-size: 15px;
}

.product-takealong .product-rating > i {
    color: #FFB656;
}

.product-takealong .product-rating > i.empty {
    color: #DADADA;
}

.product-takealong .product-label > span {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-weight: 700;
    color: #FFF;
    background-color: #30323A;
    z-index: 22;
}

.product-takealong .product-label > span:empty{
 display: none;
}

.product-takealong .product-label > span.sale {
    background-color: #F8C141;
}


.fp + .dp{
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
} 

/*----------------------------*\
	Single product
\*----------------------------*/

.product-takealong.product-single {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.product-takealong.product-single .product-thumb {
    position: relative;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1.5rem;
}

.product-takealong.product-single .product-thumb > img {
    max-height: 100%;
    max-width: auto;
}

.product-takealong.product-single .product-label {
    position: absolute;
    left: 0;
    top: 0;
}

.product-takealong.product-single .product-label > span {
    display: block;
}

.product-takealong.product-single .product-label > span:empty {
     display: none;
}

.product-takealong.product-single .product-body {
    padding: 1.5rem;
}
    
.product-takealong.product-single .product-body p, h {
    margin-bottom: 0.25rem;
}

.product-takealong.product-single .product-price {
    display: inline-block;
}

.product-takealong.product-single .product-rating {
    margin-top: 0.5rem;
    margin-left: auto;
}

.product-takealong.product-single .product-name {
    font-size: 16px;
}

/*----------------------------*\
	Single product-2
\*----------------------------*/

.product-takealong.product-single-2 .product-thumb{
	position: relative;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1.5rem;
}

.product-takealong.product-single-2 .product-thumb > img {
    max-height: 100%;
    max-width: auto;
}

.product-takealong.product-single-2 .product-label {
    position: absolute;
    left: 0;
    top: 0;
}

.product-takealong.product-single-2 .product-label > span {
    display: block;
}

.product-takealong.product-single-2 .product-label > span:empty {
     display: none;
}

.product-takealong.product-single-2 .product-body {
    padding: 1.5rem;
}
    
.product-takealong.product-single-2 .product-body p, h {
    margin-bottom: 0.25rem;
}

.product-takealong.product-single-2 .product-price {
    display: inline-block;
}

.product-takealong.product-single-2 .product-rating {
    margin-top: 0.5rem;
    margin-left: auto;
}

.product-takealong.product-single-2 .product-name {
    font-size: 16px;
}

/*=========================================================
	09 -> CHECKOUT PAGE
===========================================================*/

.shiping-methods {
  margin-bottom: 30px;
}

/*-- shopping cart table --*/

.shopping-cart-table>tbody>tr>td, .shopping-cart-table>tbody>tr>th, 
.shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th, 
.shopping-cart-table>thead>tr>td, .shopping-cart-table>thead>tr>th {
  padding: 15px 0px;
  vertical-align: middle;
  border-top: 1px solid #DADADA;
}

.shopping-cart-table>thead>tr>th {
  color: #30323A;
  text-transform: uppercase;
  border-bottom: 1px solid #DADADA;
}

.shopping-cart-table>tbody>tr:last-child>td {
  border-bottom: 1px solid #DADADA;
}

.shopping-cart-table>tfoot>tr>td, .shopping-cart-table>tfoot>tr>th {
  color: #30323A;
  border-top: 0px
}

.shopping-cart-table>tfoot>tr>td:not(.empty), .shopping-cart-table>tfoot>tr>th:not(.empty) {
  padding: 15px;
  background-color: #F6F7F8;
  border: 1px solid #DADADA;
}

.shopping-cart-table>tbody>tr>.details>a {
  font-size: 18px;
  font-weight: 700;
}

.shopping-cart-table>tbody>tr>.thumb>img {
  width: 60px;
}

.shopping-cart-table>tbody>tr>.qty .input {
  width: 50px;
}

.shopping-cart-table>tbody>tr>.price {
  font-size: 18px;
}

.shopping-cart-table>tbody>tr>.total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.sub-total {
  font-size: 18px;
}

.shopping-cart-table>tfoot>tr>.total {
  font-size: 24px;
  color: #F8C141;
}

del>small:empty{
	display: none;
}


/*-------------------------
		Form wizard
---------------------------*/

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard-inner .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard-inner .nav-tabs > li.active > a,
.wizard-inner .nav-tabs > li.active > a:hover,
.wizard-inner .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 3px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard-inner li a.active span.round-tab {
    background: #fff;
    border: 4px solid #0D7694 ;

}

.wizard-inner li a.active span.round-tab i {
    color: #0D7694 ;
}

span.round-tab:hover {
    color:#F8C141;
    border: 3px solid #F8C141;
}

.wizard-inner .nav-tabs > li {
    width: 19%;
}

.wizard-inner li a:after {
    content: " ";
    position: relative;
    left: 46%;
    top: -20px;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #0D7694;
    transition: 0.1s ease-in-out;
}

.wizard-inner li.active.nav-item:after {
    content: " ";
    position: relative;
    left: 46%;
    top: -20px;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #0D7694;
}

.wizard-inner .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    position: relative;
}

.wizard-inner .nav-tabs > li a:hover {
    background: transparent;
}

.wizard-inner .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard-inner h3 {
    margin-top: 0;
}

@media( max-width: 585px) {

    .wizard-inner {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard-inner .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard-inner li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.pagamento .nav-tabs > li a{
	width: 150px;
	color: #30323A;
	font-size: 50px;
	text-align: center;
}

.pagamento .nav-tabs > li a p{
	font-size: 35%;
	color: #30323A;
	font-weight: bold;
}

.pagamento .nav-tabs .nav-item.show .nav-link, 
.pagamento .nav-tabs .nav-link.active{
	color: #0D7694;
	border-color: #0D7694 #0D7694 #FFF;
	background-color: #fff;
}

.pagamento .nav-tabs .nav-item.show .nav-link p, 
.pagamento .nav-tabs .nav-link.active p{
	color: #0D7694;
}

select.mes + select.ano{
	margin-left: 1rem;
}

h6 i{
	vertical-align: middle;
}

h6 >i.icon{
	font-size: 30px;
	margin-right: 0.5rem;
}

/*=========================================================
        			Profile
===========================================================*/

.img-profile{
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
	border-radius: 100%;
	background-color: #f2d2d2;
}


/*=========================================================
        			RESPONSIVE
===========================================================*/

@media only screen and (max-width: 992px) {
    #home .home-wrap {
        margin-left: 0px;
    }

    .product.product-single .product-thumb {
        height: 70vw;
    }

    .product.product-single .product-thumb > img {
        max-height: 100%;
    }

    .product-page.product-single .product-thumb {
        height: 22vw;
    }

    .product-page.product-single .product-thumb > img {
        max-height: 100%;
    }
		
	.product-view{
		height: 40vw;
	}

	.product-view img{
		max-height: 100%;
	}
	
	.product-takealong.product-single .product-thumb{
	    height: 30vw;
	}

	.product-takealong.product-single-2 .product-thumb{
	    height: 20vw;
	}

	.fp + .dp{
		border-left: none;
		border-right: none;
	}
}

@media only screen and (max-width: 767px){
	.product-view{
		height: 70vw;
	}

	.product-view img{
		max-height: 100%;
	}

}

@media only screen and (max-width: 576px) {
    [class*='col-xs'] {
        width: 100%;
    }

    .product.product-single .product-thumb {
        height: 90vw;
    }

    .product.product-single .product-thumb > img {
        max-height: 100%;
    }

    .product-page.product-single .product-thumb {
        height: 100vw;
    }

    .product-page.product-single .product-thumb > img {
        max-height: 100%;
    }

    .product-view{
		height: 90vw;
		margin-bottom: 1rem;
	}

	.product-view img{
		max-height: 100%;
	}

	.product-btns >form+form{
		margin-bottom: 1rem;
	}

	.product-takealong.product-single .product-thumb{
	    height: 60vw;
	}

	.product-takealong.product-single-2 .product-thumb{
	    height: 40vw;
	}
}


