/*=========================================================
				    GENERAL
===========================================================*/

/*----------------------------*\
		   Typography
\*----------------------------*/

body {
	font-family: 'Hind', sans-serif;
	color: #4A4E5A;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: #30323A;
	margin: 0 0 10px;
	font-weight: 700;
}

a {
	color: #30323A;
	-webkit-transition: 0.3s color;
	 transition: 0.3s color;
}
			
a:hover, a:focus{
	color: #30323A;
	text-decoration: none;
	outline: none;
}



.primary-color {
	color: #F8C141;
}

.white-color {
	 color: #FFF;
}

.font-weak {
	font-weight: 400;
}

strong {
	color: #30323A;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #DADADA;
}

/*----------------------------*\
		   Buttons
\*----------------------------*/

.main-btn, .primary-btn {
	display: inline-block;
	padding: 10px 15px;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.icon-btn.main-btn, .icon-btn.primary-btn {
	width: 40px;
	height: 40px;
	font-size: 25px;
	line-height: 10px;
	padding: 0px;
	border: none;
}

.main-btn {
	color: #30323A;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
	box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
}

.main-btn:hover, .main-btn:focus {
	color: #30323A;
}
			
.primary-btn {
	color: #FFF;
	background-color: #F8C141;
}

.primary-btn:hover, .primary-btn:focus {
	color: #FFF;
	background-color: #30323A;
}

/*----------------------------*\
	Inputs
\*----------------------------*/

.input {
  width: 100%;
  height: 40px;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 5px transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.input:focus {
	-webkit-box-shadow: 0px 0px 0px 1px ##0D7694 inset, 0px 0px 0px 0px #0D7694;
	box-shadow: 0px 0px 0px 1px ##0D7694 inset, 0px 0px 0px 0px #0D7694;
}

textarea.input {
	padding: 15px;
}

.input-checkbox .caption {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: 0.3s max-height;
	transition: 0.3s max-height;
}

.input-checkbox>label {
	 color: #30323A;
}

.input-checkbox input[type="checkbox"]:checked+label+.caption, .input-checkbox input[type="radio"]:checked+label+.caption {
	max-height: 800px;
}

/*----------------------------*\
		Lists
\*----------------------------*/

.list-links .list-links-title {
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
}

.list-links li>a {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: 2px 0px;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.list-links li>a:before {
	content: "\f3d1";
	position: absolute;
	left: 0px;
	font-family: Ionicons;
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.list-links li>a:hover, .list-links li>a:focus, .list-links li.active>a {
	color: #30323A;
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
}

.list-links li>a:hover:before, .list-links li>a:focus:before, .list-links li.active>a:before {
	opacity: 1;
	 visibility: visible;
}

/*----------------------------*\
		 Sections
\*----------------------------*/

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-grey {
	background: #F6F7F8;
}

.section-title {
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #DADADA;
}

.section-title .title {
	display: inline-block;
	text-transform: uppercase;
}

.section-title:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1.5px;
	height: 3px;
	width: 60px;
	background-color: #F8C141;
}

/*----------------------------*\
			Breadcrumb
\*----------------------------*/

#breadcrumb {
	-webkit-box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
	box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.175);
}

.breadcrumb {
	background-color: transparent;
	border: none;
	border-radius: 0px;
	padding: 15px 0px;
	margin: 0;
}

.breadcrumb>.active {
	color: #F8C141;
}

.breadcrumb>li+li:before {
	color: #DADADA;
}
/*=========================================================
		             HEADER
===========================================================*/

#header {
	padding-top: 15px;
	padding-bottom: 15px;
}
/*----------------------------*\
		 Top header
\*----------------------------*/

#top-header {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DADADA;
}

.header-top-links>li {
	display: inline-block;
}

.header-top-links>li+li {
	margin-left: 15px;
}

.header-top-links>li>a {
	cursor: pointer;
	text-transform: uppercase;
}

/*----------------------------*\
		   logo
\*----------------------------*/

.header-logo {
	display: inline-block;
	margin-right: 15px;
}

.header-logo .logo>img {
	width: 100%;
	max-height: 70px;
}

/*----------------------------*\
	    Search header
\*----------------------------*/

.header-search {
	display: inline-block;
	padding: 15px 0px;
	max-width: 400px;
}

.header-search>form {
	position: relative;
}

.header-search>form .search-input {
	padding-left: 150px;
	padding-right: 45px;
}

.header-search>form .search-categories {
	position: absolute;
	left: 0px;
	top: 0px;
	width: auto;
}

.header-search>form .search-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	font-size: 25px;
}

/*----------------------------*\
		Account header
\*----------------------------*/

.header-btns>li {
	display: inline-block;
	vertical-align: top;
	padding: 15px 0px;
}

.header-btns>li+li {
	margin-left: 15px;
}

.header-btns>li .header-btns-img {
	position: relative;
	float: left;
	font-size: 30px;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
			
.header-btns-img img{
	width: 40px;
	height: auto;
	line-height: 30px;
}

.header-btns>li .header-btns-icon {
	position: relative;
	float: left;
	font-size: 25px;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	color: #30323A;
	background-color: #FFF;
	border: 1px solid #DADADA;
}

.header-btns .dropdown-toggle {
	display: block;
	cursor: pointer;
}

.header-account.dropdown .dropdown-menu>li>a>i {
	margin-right: 15px;
	color: #F8C141;
}

.header-account a:hover{
	color: #F8C141;
}

.header-account.dropdown .dropdown-menu>li:hover>a>i{
	color: #30323A;
}

/*----------------------------*\
		Cart header
\*----------------------------*/

.header-cart .header-btns-icon .qty {
	position: absolute;
	right: -9px;
	top: -9px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	background: #FFC82C;
	color: #000;
	border-radius: 50%;
}

.header-cart a:hover{
	color: #30323A;
}

/*=========================================================
		                     CART AREA
===========================================================*/

.cart-bg-overlay.cart-bg-overlay-on {
	-webkit-transition-duration: 1000ms;
	transition-duration: 1000ms;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1050; }

/* Cart Area CSS */
.right-side-cart-area {
	position: fixed;
	width: 670px;
	height: 100%;
	top: 0;
	right: -800px;
	background-color: #ffffff;
	z-index: 1100;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms; 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.right-side-cart-area {
		width: 500px;
		right: -600px; 
	} 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area {
		 width: 270px;
		right: -400px; 
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area {
		width: 400px;
		right: -550px; 
	} 
}

.right-side-cart-area.cart-on {
	right: 0; 
}
			  
.right-side-cart-area .cart-button a {
	position: absolute;
	top: 0;
	right: 100%;
	z-index: 100;
	width: 90px;
	display: block;
	font-size: 25px;
	text-align: center;
	border-left: 1px solid #ebebeb;
	height: 85px;
	line-height: 80px;
	background-color: #f5f7f9; 
}
			    
@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-button a {
		width: 50px;
		height: 50px;
		line-height: 50px; 
	} 
}

.right-side-cart-area .cart-button a img {
	max-width: 20px; 
}

.right-side-cart-area .cart-button a span {
	font-family: "Ubuntu", sans-serif;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	top: -15px;
	color: #000;
}

.right-side-cart-area .cart-content {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%; 
}

.right-side-cart-area .cart-content .cart-list {
	position: relative;
	z-index: 10;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 190px;
	flex: 0 0 190px;
	width: 190px; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list {
		-webkit-box-flex: 0;
		 -ms-flex: 0 0 100px;
		flex: 0 0 100px;
		 width: 100px; 
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 150px;
		flex: 0 0 150px;
		width: 150px; 
	} 
}
			      
.right-side-cart-area .cart-content .cart-list .single-cart-item {
	position: relative;
    z-index: 1;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image {
	position: relative;
	z-index: 1;
	display: block; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 50px 15px 15px;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
	padding: 5px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
		padding: 30px 20px;
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .product-remove {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #ffffff;
	font-size: 12px;
	padding: 5px;
	background-color: transparent;
	border: none; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .product-remove {
	top: 5px;
	right: 5px; 
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .badge {
	display: block;
	font-weight: 600;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	margin-bottom: 5px;
	text-align: left;
	padding: 0; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc h6 {
	font-size: 12px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px; 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc h6 {
		margin-bottom: 10px;
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .size,
.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .color {
	display: block;
	font-weight: 600;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	margin-bottom: 5px;
	line-height: 1; 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .price {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 30px;
	color: #ffffff; 
}
	
@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .price {
		margin-top: 10px;
		font-size: 12px; 
	} 
}

.right-side-cart-area .cart-content .cart-list .single-cart-item:hover .product-image .cart-item-desc {
	background-color: rgba(0, 0, 0, 0.8); 
}

.right-side-cart-area .cart-content .cart-amount-summary {
	padding: 100px 10%;
	position: relative;
	z-index: 10;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(100% - 190px);
	flex: 0 0 calc(100% - 190px);
	width: calc(100% - 190px);
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(100% - 100px);
		flex: 0 0 calc(100% - 100px);
		width: calc(100% - 100px);
		padding: 50px 15px;
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(100% - 150px);
		flex: 0 0 calc(100% - 150px);
		width: calc(100% - 150px);
		padding: 50px 30px; 
	}
}

.right-side-cart-area .cart-content .cart-amount-summary h2 {
	font-size: 30px;
	margin-bottom: 100px;
}
@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary h2 {
		font-size: 24px;
		margin-bottom: 30px;
	} 
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary h2 {
		font-size: 30px;
		margin-bottom: 50px;
	}
}

.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
	margin-bottom: 20px;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0.75px;
	text-transform: uppercase;
	font-weight: 600;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
		font-size: 12px;
		margin-bottom: 10px;
	} 
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
		font-size: 14px;
		margin-bottom: 15px;
	} 
}

.right-side-cart-area .cart-content .cart-amount-summary .summary-table li span:last-child {
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 767px) {
	.right-side-cart-area .cart-content .cart-amount-summary .essence-btn {
		min-width: 140px;
		width: 140px;
		padding: 0 15px;
	}
}
/*=========================================================
	                 FOOTER
===========================================================*/
			
#footer {
	background-color: #0D7694;
}

.footer {
	margin: 15px 0px;
	color: #FFF;
}

.footer .footer-header {
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-logo .logo {
	display: inline-block;
}

.footer-logo .logo>img {
	width: 100%;
	max-height: 70px;
}

.footer-social>li {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 6px;
	font-size: 25px;
	color: #FFF;
}
			
.footer li>a{
	color: #FFF;
}

.footer li>a:hover{
	color: #F8C141;
}

.footer-social>li>a{
	color: #FFF;
}

.footer-social>li>a:hover {
	color: #F8C141;			  
}

.footer-social>li:last-child {
	margin-right: 0px;
}

.footer-copyright {
	text-transform: uppercase;
	font-size: 18px;
}

.footer-copyright a{
	color: #FFF;
}

.footer-copyright a:hover{
	color: #F8C141;
}


/*=========================================================
        			RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
	#home .home-wrap {
		 margin-left: 0px;
	}

	.product.product-single .product-thumb {
		position: relative;
		height: 70vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin-bottom: 15px;
		padding: 1.5rem;
	}

	.product.product-single .product-thumb>img {
		max-width: 60%;
		max-height: auto;
	}
}

@media only screen and (max-width: 480px) {
	[class*='col-xs'] {
		width: 100%;
	}

	.product.product-single .product-thumb {
		position: relative;
		height: 90vw;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin-bottom: 15px;
		padding: 2rem;
	}

	.product.product-single .product-thumb>img {
		max-width: 80%;
		max-height: auto;
	}
}

