@media screen and (max-width:425px){
    .card-prod-img {
        width: auto;
        height: 35vh;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: rgba(255,255,255,0.8);
    }

}
