body {
    background-color : #f2f2f2;
}

body a{
    color:#fff;
    text-decoration:none;
}


footer{
    background-color:#0D7694;  
    color:#fff;
}

/*-------------------------------------- Estilização Layout --------------------------------------------------------------*/

.navbar {
    background-color: #0D7694;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.navbar a {
    color: #fff;
}
.form-control {
    border-radius: 0;
}

.btn-search {
    color: #000;
    border-radius: 0 .25rem .25rem 0;
    background-color: #f8c141;
    border-color: transparent;
}

.ion-md-search:before {
    font-size: 15px;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid #fff;
}

.ion-md-menu:before {
    color: #fff;
}

.carrinho {
    font-size: 35px;
    padding: 25px 25px;
    border-left: 1px solid #425D80;
}

.mdl-badge[data-badge]:after {
    background-color: #f8c141;
    color: #000;
}

.log {
    background-color: #425D80;
    padding: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.removem {
    margin: 0;
}

.barracagada {
    color: #fff;
    font-size: 16px;
}

.social{
    padding:0;
}

.social a:hover{
    color:#fff;
}

.social li {
    list-style-type: none;
    padding: 8px;
}

.ion-logo-facebook, .ion-logo-twitter, .ion-logo-instagram {
    font-size: 25px;
}

/*-------------------------------------- Carrinho Boladão --------------------------------------------------------------*/
.cart-bg-overlay.cart-bg-overlay-on {
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1050;
}

.right-side-cart-area {
    position: fixed;
    width: 670px;
    height: 100%;
    top: 0;
    right: -800px;
    background-color: #f2f2f2;
    z-index: 1100;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .right-side-cart-area {
        width: 500px;
        right: -600px;
    }
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area {
        width: 270px;
        right: -400px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .right-side-cart-area {
        width: 400px;
        right: -550px;
    }
}

.right-side-cart-area.cart-on {
    right: 0;
}

.right-side-cart-area .cart-button a {
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 100;
    width: 90px;
    display: block;
    text-align: center;
    border-left: 1px solid #425D80;
    height: 85px;
    line-height: 105px;
    background-color: #0D7694;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-button a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

.right-side-cart-area .cart-button a span {
    font-size: 35px;
    color: #FFF;
    top: -10px;
}

.right-side-cart-area .cart-content {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

    .right-side-cart-area .cart-content .cart-list {
        position: relative;
        z-index: 10;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
        flex: 0 0 190px;
        width: 190px;
    }

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        width: 100px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        width: 150px;
    }
}

.right-side-cart-area .cart-content .cart-list .single-cart-item {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

    .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image {
        position:  absolute;
        z-index: 1;
        display: block;
    }

        .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 50px 15px 15px;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
        }

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
        padding: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc {
        padding: 30px 20px;
    }
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .product-remove {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .product-remove {
        top: 5px;
        right: 5px;
    }
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .badge {
    display: block;
    font-weight: 600;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: left;
    padding: 0;
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc h6 {
    font-size: 12px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc h6 {
        margin-bottom: 10px;
    }
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .size,
.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .color {
    display: block;
    font-weight: 600;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1;
}

.right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .price {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 30px;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-list .single-cart-item .product-image .cart-item-desc .price {
        margin-top: 10px;
        font-size: 12px;
    }
}

.right-side-cart-area .cart-content .cart-list .single-cart-item:hover .product-image .cart-item-desc {
    background-color: rgba(0, 0, 0, 0.8);
}

.right-side-cart-area .cart-content .cart-amount-summary {
    padding: 100px 10%;
    position: relative;
    z-index: 10;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 190px);
    flex: 0 0 calc(100% - 190px);
    width: calc(100% - 190px);
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
        width: calc(100% - 100px);
        padding: 50px 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 150px);
        flex: 0 0 calc(100% - 150px);
        width: calc(100% - 150px);
        padding: 50px 30px;
    }
}

.right-side-cart-area .cart-content .cart-amount-summary h2 {
    font-size: 30px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

.right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary .summary-table li {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.right-side-cart-area .cart-content .cart-amount-summary .summary-table li span:last-child {
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    .right-side-cart-area .cart-content .cart-amount-summary .essence-btn {
        min-width: 140px;
        width: 140px;
        padding: 0 15px;
    }
}

/*------------------------------------------- Carrossel de produtos  -----------------------------------------------------------*/


/*---------------------------------------------------- Home -------------------------------------------------------------------*/
.novidades {
    background-color: #343F4B;
}