
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br" style="zoom: 75%;">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastrar-se</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">

    <script src="~/Assets/js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="~/Content/login-style.css">
    <link rel="shortcut icon" href="~/img/icone_scrolls.ico">
</head>
<body class="container py-5">
    <div class="row justify-content-end" style="margin-right: -200px;">
        <div class="col-md-5 bg-light px-5 py-4 rounded" style="background-color: rgba(55, 57, 78, 0.8) !important;">
            <h3 style="color: #fff;padding-bottom: 10px;">Cadastrar</h3>
            <form method="post" action="/Cliente/CadaCli" class="validate" id="form1">
                <div class="form-group" style="color: #fff;font-size: 14px;">
                    <label for="nome" class="col-sm-12 col-form-label col-form-label-lg" style="color: #fff;padding-left: 0px;">Nome</label>
                    <input type="text" class="form-control form-control-lg" name="nome" id="nome" placeholder="Digite seu Nome" style="font-size: 14px !important;">
                    <span id="mn" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                </div>
                <div class="form-group">
                    <label for="sobrenome" class="col-sm-12 col-form-label col-form-label-lg" style="color: #fff;padding-left: 0px;">Sobrenome</label>
                    <input type="text" class=" form-control form-control-lg" name="sobrenome" id="sobrenome" placeholder="Digite seu Sobrenome" style="font-size: 14px !important;">
                    <span id="msn" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                </div>
                <div class="form-group">
                    <label for="cpf" class="col-sm-12 col-form-label col-form-label-lg" style="color: #fff;padding-left: 0px;">CPF</label>
                    <input type="text" class=" form-control form-control-lg" data-mask="999.999.999-99" name="cpf" id="cpf" placeholder="Digite seu CPF" style="font-size: 14px !important;">
                    <span id="mc" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-12 col-form-label col-form-label-lg" style="color: #fff;padding-left: 0px;">Seu Email</label>
                    <input type="email" class=" form-control form-control-lg" name="email" id="email" data-validate="email" data-message-email="Digite um email válido!" placeholder="Digite seu Email" style="font-size: 14px !important;">
                    <span id="me" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span><span id="me2" style="color: #cc2424;" hidden>Esse email já está cadastrado!</span>
                </div>
                <div class="form-group">
                    <label for="senha" class="col-sm-12 col-form-label col-form-label-lg" style="color: #fff;padding-left: 0px;">Senha</label>
                    <input type="password" class=" form-control form-control-lg" name="senha" id="senha" placeholder="Digite sua Senha" style="font-size: 14px !important;">
                    <span id="mp" style="color: #cc2424;" hidden>Esse campo é obrigatório!</span>
                </div>
                <button type="button" class="btn btn-confirmar w-100 mt-5 sub" style="font-size: 22px;margin-top: 30px !important;">Cadastrar</button>
            </form>
            <div class="col-sm-12 d-flex justify-content-center mt-2" style="color: #fff;font-size: 14px;">
                <p>Já tem uma conta? <a href="/Home/LoginPage">Entre aqui</a></p>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Assets/js/rickshaw/rickshaw.min.css">

    <!-- Bottom scripts (common) -->
    <script src="~/Assets/js/gsap/TweenMax.min.js"></script>
    <script src="~/Assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/joinable.js"></script>
    <script src="~/Assets/js/resizeable.js"></script>
    <script src="~/Assets/js/neon-api.js"></script>
    <script src="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
    <script src="~/Assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Assets/js/rickshaw/vendor/d3.v3.js"></script>
    <script src="~/Assets/js/rickshaw/rickshaw.min.js"></script>
    <script src="~/Assets/js/raphael-min.js"></script>
    <script src="~/Assets/js/morris.min.js"></script>
    <script src="~/Assets/js/toastr.js"></script>
    <script src="~/Assets/js/neon-chat.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>

    <script src="~/Assets/js/bootstrap-datepicker.js"></script>

    <script src="~/Assets/js/bootstrap-switch.min.js"></script>
    <script src="~/Assets/js/jquery.inputmask.bundle.js"></script>
    <script src="~/Assets/js/fileinput.js"></script>
    <!-- JavaScripts initializations and stuff -->
    <script src="~/Assets/js/neon-custom.js"></script>

    <style>
        #email-error {
            color: #cc2424;
        }
    </style>

    <script>

        $('.sub').click(function () {
            var n = $('#nome');
            var sn = $('#sobrenome');
            var cpf = $('#cpf');
            var e = $('#email');
            var s = $('#senha');

            if (s.val().trim() == "") {
                $('#mp').attr('hidden', false);
            } else {
                $('#mp').attr('hidden', true);
            }

            if (n.val().trim() != "") {
                $('#mn').attr('hidden', true);
            } else {
                $('#mn').attr('hidden', false);
            }

            if (sn.val().trim() != "") {
                $('#msn').attr('hidden', true);
            } else {
                $('#msn').attr('hidden', false);
            }

            if (e.val().trim() != "") {
                $('#me').attr('hidden', true);
            } else {
                $('#me').attr('hidden', false);
            }

            $.ajax({
                url: '@Url.Action("Verificar","Cliente")',
                type: "GET",
                contentType: "application/json",
                data: { email: e.val(), cpf: cpf.val() },
                success: function (result) {
                    if (result[0] == false) {
                        $('#mc').attr('hidden', false);
                    } else {
                        $('#mc').attr('hidden', true);
                    }

                    if (result[1] == true) {
                        $('#me2').attr('hidden', false);
                    } else {
                        $('#me2').attr('hidden', true);
                    }

                    if (result[2] == false) {
                        $('#me').attr('hidden', false);
                    } else {
                        $('#me').attr('hidden', true);
                    }

                    if (s.val().trim() != "" && n.val().trim() != "" && sn.val().trim() != "" && e.val().trim() != "" && result[0] == true && result[1] == false && result[2] == true) {
                        $('#form1').each(function () { this.submit(); });
                    }
                }
            });
        });
    </script>
</body>
</html>
