
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina de Login</title>

    <link href="~/MaterialDesignLite/material.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content" style="padding-top: 8%;">
                <div class="mdl-card mdl-shadow--6dp">
                    <div class="mdl-card__title mdl-color--primary mdl-color-text--white" style="background-color: #132228 !important;">
                        <h2 class="mdl-card__title-text">Login</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <form action="~/Home/Login" method="post">

                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="username" name="n" value="@ViewBag.Nome" />
                                <label class="mdl-textfield__label" for="username">Username</label>
                            </div>

                            <br />
                            <br />
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" id="userpass" name="s" />
                                <label class="mdl-textfield__label" for="userpass">Password</label>
                            </div>
                            <br />
                            <br />
                            <br />
                            @Html.ValidationMessage("funcionario.LoginError")
                            <div class="mdl-card__actions mdl-card--border">
                                <br />
                                <input type="submit" value="Logar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color: #132228 !important">
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </center>

    <script src="~/MaterialDesignLite/material.min.js"></script>
</body>
</html>
