<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/Assets/images/favicon.ico">

    <title>@ViewBag.Title | Scrolls Manager</title>

    <link rel="stylesheet" href="~/Assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/css/neon-core.css">
    <link rel="stylesheet" href="~/Assets/css/neon-theme.css">
    <link rel="stylesheet" href="~/Assets/css/neon-forms.css">
    <link rel="stylesheet" href="~/Assets/css/custom.css">

    <script src="~/Assets/js/jquery-1.11.3.min.js"></script>
</head>
<body class="page-body">

<div class="page-container horizontal-menu with-sidebar sidebar-collapsed right-sidebar">
        
    
    <header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->
        
        <div class="navbar-inner">
        
            <!-- logo -->
            <div class="navbar-brand" style="padding-top: 8px;">
                <a href="/Home/Index">
                    <img src="~/Assets/images/logo@2x.png" width="66" alt="" />
                </a>
            </div>
            
            
            <!-- main menu -->
                        
            <ul class="navbar-nav">
                <li class="has-sub">
                    <a href="#">
                        <i class="entypo-user"></i>
                        <span class="title">Funcionário</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title">Cadastrar funcionário</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">Consulta</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="/Produto/QProduto">
                        <i class="entypo-book"></i>
                        <span class="title">Produtos</span>
                    </a>
                    <ul class="visible">
                        <li>
                            <a href="/Produto/CProduto">
                                <span class="title">Cadastrar produto</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">Gerenciar promoção</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">Repor</span>
                                <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="" data-original-title="Em falta">@ViewData["Falta"]</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Produto/QProduto">
                                <span class="title">Consulta</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="has-sub">
                    <a href="#">
                        <i class="entypo-basket"></i>
                        <span class="title">Vendas</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title">Consulta</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a href="#">
                        <i class="entypo-compass"></i>
                        <span class="title">Mapa</span>
                        <span class="badge badge-success" data-toggle="tooltip" data-placement="right" title="" data-original-title="Banners ativos">9</span>
                    </a>
                    <ul>
                        
                        <li>
                            <a href="#">
                                <span class="title">Cadastrar banner</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title">Visão geral</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
                        
            
            <!-- notifications and other links -->
            <ul class="nav navbar-right pull-right">

                @try
                {
                    if (int.Parse(Session["_Id"].ToString()) != 0)
                    {
                    }
                    else
                    {
                        Response.Redirect("~/Home/LoginPage");
                    }

                }
                catch (Exception)
                {
                    Response.Redirect("~/Home/LoginPage");
                }


                <li class="sep"></li>

                <li>
                    <a href="/Home/Logout">
                        Log Out <i class="entypo-logout right"></i>
                    </a>
                </li>


                <!-- mobile only -->
                <li class="visible-xs">

                    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                    <div class="horizontal-mobile-menu visible-xs">
                        <a href="#" class="with-animation">
                            <!-- add class "with-animation" to support animation -->
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                </li>

            </ul>
    
        </div>
        
    </header>
    

        @RenderBody()

</div>


    <link rel="stylesheet" href="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Assets/js/rickshaw/rickshaw.min.css">
    <script src="~/Assets/js/gsap/TweenMax.min.js"></script>
    <script src="~/Assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>
    <script src="~/Assets/js/joinable.js"></script>
    <script src="~/Assets/js/resizeable.js"></script>
    <script src="~/Assets/js/neon-api.js"></script>
    <script src="~/Assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
    <script src="~/Assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Assets/js/rickshaw/vendor/d3.v3.js"></script>
    <script src="~/Assets/js/rickshaw/rickshaw.min.js"></script>
    <script src="~/Assets/js/raphael-min.js"></script>
    <script src="~/Assets/js/morris.min.js"></script>
    <script src="~/Assets/js/toastr.js"></script>
    <script src="~/Assets/js/neon-chat.js"></script>
    <script src="~/Assets/js/neon-custom.js"></script>
    <script>
        $(window).resize(function(){

           if ($(window).width() <= 768) {  
                var el = document.getElementById( 'id' );
                el.parentNode.removeChild( el );
            }    
        });
        
    </script>
    <script src="~/Assets/js/neon-demo.js"></script>
    <link href="~/Assets/style.css" rel="stylesheet" />
</body>
</html>